

{% block title %}Log in | {% endblock %}

{% block content %}
<div >
    <h1 >Log in</h1>
</div>

<form method="post" action=".">
    {% csrf_token %}
<div  border="bold" cellspacing="6" cellpadding="6">
    <div >
        <label >Username</label>

        <input type="text" name="username" >
    </div>

    <div >
        <label >Password</label>

        <input type="password" name="password">
    </div>
<div>
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %} 
            
                    <p>{{ error|escape }}</p>
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <button >Log in</button>
</form>
{% endblock %}
